<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic</title>
  </head>
  <body>
    <h1>Basic variable insert: {{name}}!</h1>
    <!-- Recall that we set mylist=letters in the .py file. -->
    <!-- You could use whatever variable names you want -->
    <h1>List example: {{mylist}}</h1>
    <!-- We can index the list as well -->
    <h1>Indexing the list for the first letter: {{mylist[0]}}</h1>
    <!-- We can also use dictionaries -->
    <h1>Puppy name from dictionary: {{mydict['pup_name']}}</h1>

  </body>
</html>
