{% extends "layout.html" %}
{% block content %}
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.email.label }} {{ form.email(class="form-control") }}<br>
  </div>
  <div class="form-group">
    {{ form.username.label }} {{ form.username(class="form-control") }}<br>
  </div>
  <div class="form-group">
    {{ form.password.label }} {{ form.password(class="form-control") }}<br>
  </div>
  <div class="form-group">
    {{ form.pass_confirm.label }} {{ form.pass_confirm(class="form-control") }}<br>
  </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
