{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Add a User with the form below:</h1>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label }} {{ form.email(class = "form-control") }}
    </div>
      {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
